html{
    background: url("res/background-tech-background.png");
    background-color: #352828;
    background-size: 500px;
    background-blend-mode: screen;
    overflow-x: hidden;
}

body{
    display:flex;
    width: 100%;
}

h1{
    font-size: 24px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 900;
    color: white;
}