@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    margin:0px;
    padding:0px;
}

html{
    overflow: visible;
    background: linear-gradient(-45deg, #091921, #091921, #132c36, #133d31);
    /* background-image: url("res/background-tech-background.png"); */
    background-size: 600px;
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    background-blend-mode: screen;
}

body{
    height: 100%;
    overflow: visible;
    min-height: 100%;
}

.separator{
    content: " ";
    height: 250px;
    width: 100%;
}

#navbar{
    top: 10px;
    position: fixed;
    z-index: 1000;
    margin-top: 5px;
    left:50%;
    padding: 10px 10px 10px 10px;
}

#navbar ul#menu li a{
    transition: 0.4s all ease-in-out;
    color:#b4b4b4;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

ul#menu li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

#navbar ul#menu li a:hover{
    transition: 0.2s all ease-in-out;
    color:#fbb03b;
    font-family: 'Montserrat', sans-serif;
}

ul#menu li{
    color: #fff;
}

#header{
    display: flex;
    top: 0px;
    position: relative;
    padding: 20px 20px 20px 20px;
    text-shadow: 2px;
}

#header #resume_btn{
    transition: 0.3s all ease-in-out;
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    padding: 5px 5px 5px 5px;
    height: 40px;
    width: auto;
    background-color: #fbb03b;
    border: none;
    border-radius: 2%;
    left:40px;
    cursor: auto;
    margin-top: 10px;
}

#header #resume_btn:hover{
   transition: 0.3s all ease-in-out;
   box-shadow: 5px 5px #091921;
   background-color: #10193E;
   color: white !important;
   cursor: pointer;
}

#header #resume_btn:hover a{
    color: white !important;
 }

#header img{
    transition: 0.7s all ease-in-out;
    width:150px;
    height:150px;
}

#header #header_original{
    opacity: 0;
    position: absolute;
    border-radius: 50%;
}


#header #header_original:hover{
    transition: 1.2s all ease-in-out;
    opacity: 1;
}

#header #big_text{
    font-size: medium;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vh;
    font-weight: 600;
}

#header #text{
    display: block;
    padding-left: 20px;
}

#header #small_text{
    opacity: 0.8;
    font-size: medium;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    font-weight: 300;
}

#social_bar{
    margin-left: -30px;
    padding-top: 20px;
}

#social_bar ul#social li a{
    padding-left: 5px;
    padding-right: 5px;
}

#social_bar ul#social li,a{
    opacity: 0.8;
    font-size: 15px;
    display: inline;
    transition: 0.4s all ease-in-out;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

#social_bar ul#social li:hover,a:hover{
    font-size: 15px;
    display: inline;
    transition: 0.4s all ease-in-out;
    color:#fbb03b;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.tiles{
    transition: 0.9s all ease-in-out;
    padding: 20px 20px 20px 20px;
    opacity: 0.2;
    display: block;
}

.tiles:hover{
    transition: 0.8s all ease-in-out;
    opacity: 1;
}

.tiles .svg{
    padding: 0px 0px 0px 0px;
    position: absolute;
    left:50%;
    width: 600px;
    height: 600px;
}

.tiles .header{
    position: relative;
    font-size: 80px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.tiles .info_class{
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    color: white;
    left: 0;
    padding: 20px 20px 20px 20px;
}

.tiles ul{
    color: white;
    font-size: 40px;
}

.tiles li{
    display: inline;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}